/*All pages css*/
body {
  background-color: #FCEADE;
  color: #3B3B3B;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

header {
  background-color: #4C4C4C;
  color: #FCEADE;
  padding: 20px;
}

nav a {
  color: #FCEADE;
  text-decoration: none;
}

a:hover {
  color: #F2B885;
}

.button {
  display: inline-block;
  text-align: center;
  width: 100px;
  height: 50px;
  border: 2px solid #F2B885;
  background-color: #FCEADE;
  color: #3B3B3B;
  border-radius: 4px;
  margin: 0 auto;
  line-height: 50px;
}

.button:hover {
  background-color: #F2B885;
  color: #FCEADE;
}
#navbar-container {
  display: flex;
  justify-content: center;
}

#navbar-container ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

#navbar-container li {
  margin: 0 10px;
}

#navbar-container a {
  display: block;
  padding: 10px;
}

/*Porsche page*/
#ferdinand-porsche img {
  float: left;
  margin-right: 20px;
}

#ferdinand-porsche li {
  list-style: none;
}

#porsche-911-gt3rs img {
  float: left;
  margin-right: 20px;
}

#porsche-911-gt3rs li {
  list-style: none;
}
